/*=============================================
imports
=============================================*/
@font-face {
    font-family: lato;
    src: url('/assets/fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: merri;
    src: url('/assets/fonts/Merriweather/Merriweather-Regular.ttf');
}

/* COLORS
background: #000000;
background: #202020;
background: #7E7E7E;
background: #FFFFFF;
background: #55ACEE;
background: #3B5998;
background: #55ACEE1A;
background: #C4302B;
background: #FCAF45;
*/
/*=============================================
Globale einstellungen
=============================================*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    width: 1440px;
    }
a{
    color: black;
    font-family: lato;
    text-decoration: none;
    font-size: 19px;
}
p {
    line-height: 38px;
    font-family: lato;
    font-size: 19px;
}
h1 {
    font-family: merri;
    font-size: 48px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 80px;
}
img {
    width: 576px;
    height: 324;
}
ul{
    list-style: none;
}
li {
    font-family: merri;
}

/*=============================================
header
=============================================*/
header {
    padding-top: 20px;
    padding-bottom: 6px;
    padding-right: 14px;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
/*=============================================
1.section
=============================================*/
.sec_text_img {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 144px;
}
.sec_text_img article {
    width: 470px;
}
.buttonstop {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}
/*ersterbutton*/
.buttonstop li {
    background-color: #202020;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;
}
.buttonstop a{
    font-family: merri;
    color: #FFF;
}
.buttonstop li:hover{
    box-shadow: 0px 0px 10px 5px #7e7e7e6a;
}
/*zweiterbutton*/
.buttonstop li:nth-of-type(2){
    background-color: #FFF;
    border: 1px;
    border-style: solid;
    border-color: #20202015;
}
.buttonstop li:nth-of-type(2) a{
    color: #202020;
}
.absurd_img img {
    height: 502px;
    width: auto;
}
/*=============================================
2.section
=============================================*/
.sec_real_beauty {
    display: flex;
    padding-left: 144px;
    padding-right: 218px;
    justify-content: space-between;
    padding-top: 92px;
}
.sec_real_beauty img {
    height: 477px;
    width: auto;
}
.real_beauty_text {
    width: 496px;
}
/*=============================================
3.section
=============================================*/
.sec_expressiveness {
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    padding-left: 144px;
    padding-right: 200px;
}
.expressiveness_text {
    width: 476px
}
.expressiveness_img img{
    width: auto;
    height: 439px;
}
/*=============================================
4.section
=============================================*/

.sec_illus_f_app_text{
    width: 814px;
    text-align: center;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
}
.illus_f_app_img{
    display: flex;
    justify-content: space-evenly;
}
.illus_f_app_img img {
    width: 360px;
    height: 305px;
}
.illus_f_app_img img:hover {
    box-shadow: 0px 0px 8px #00000051;
}
/*=============================================
5.section
=============================================*/
.examples_text {
    width: 814px;
    text-align: center;    
    margin-left: auto;
    margin-right: auto;
    padding-top: 136px;
}
.examples_gally {
    padding-top: 36px;
}
.examples_gally ul{
    display: flex;
    flex-wrap: wrap;
    gap: 61px;
    justify-content: center;
}
.examples_gally img:hover{
    box-shadow: 0px 0px 8px #00000051;
}
/*=============================================
6.section
=============================================*/
.sec_download_membership{
    padding-top: 128px;
}
.download_text {
    width: 554px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.membership_bg {
    background-color: #55acee09;
    width: 360px;
    text-align: center;
    padding-top: 62px;
    padding-bottom: 47px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;
}
.membership_bg h2,h3 {
    padding-bottom: 44px;
}
.membership_bg p {
    font-size: 16px;
    color: #7E7E7E;;
}
.membership_bg li {
    font-size: 16px;
}
.membership_bg ul {
    padding-bottom: 30px;
}
.membership_bg a {
    background-color: #55ACEE;
    font-family: merri;
    font-size: 16px;
    color: #FFF;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 10px;
}
.membership_bg a:hover {
    box-shadow: 0px 0px 8px 5px #55acee64;
}
/*=============================================
6.section
=============================================*/
.foot_text {
    text-align: center;
    padding-top: 120px;
}

.foot_text p {
    font-family: merri;
    font-size: 19px;
    color: #7E7E7E;
}
.foot_text p:nth-last-of-type(2){
    color: #202020;
}
footer ul{
    display: flex;
    justify-content: center;
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer ul li:nth-of-type(2) {
    color: #FCAF45;
}
footer ul li:nth-of-type(3) {
    color: #3B5998;
}
footer ul li:nth-of-type(4){
    color:  #C4302B;
}