@font-face {
    font-family: lato;
    src: url(/assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: merri;
    src: url(/assets/fonts/Merriweather/Merriweather-Regular.ttf);
}
/*Gobale Einstellungen*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
}
/*Überschrifften die auf der seite gleich sind werden eingestellt*/
h1 {
    font-family:merri;
    font-weight: 700;
    font-size: 48px;
}
h2 {
    font-family:merri;
    font-weight: 700;
    font-size: 24px;
}
h3 {
    font-family:merri;
    font-weight: 700;
    font-size: 80px;
}
p {
    font-family:merri;
    font-weight: 400;
    font-size: 19.2px;
    line-height: 38px;
}
/*============Navleiste============*/
/*header höhe festlegen und damit auch die größe der navleiste*/
header{
    height: 57.2304px;
}
/*nav leiste im header positionieren*/
.navleiste > ul{
    text-align: right;
    margin-right: 14.2px;
}
/*Navleiste Fotmatieren*/
.navleiste > ul >li{
    display: inline-block;
    margin-top: 1.7106rem;
    margin-left: 1.1244rem;
}
/*navleistentext bearbeiten / stylen*/
.navleiste > ul >li > a {
    text-decoration: none;
    color: #202020;
    font-family: lato;

}
/*=============Section_1================*/
.section_1{
    max-width: 1296px;
    height:502.9px;
    margin-left: 144px;
    margin-top: 102.41px;
}
.section_1text_buttons{
    display: inline-block;
}

.section_1text_buttons > ul {
    list-style-type: none;
    margin-top: 20.68px;
}
.button_section1 > li:nth-of-type(1){
    display: inline-block;
    margin-right: 13.66px;
    border: 1px;
    padding-top: 11.2px;
    padding-bottom: 12.2px;
    padding-left: 19.2px;
    padding-right: 19.05px;
    border-style: solid;
    background-color: #202020;
    border-radius: 10px;
}
.button_textW a {
    text-decoration: none;
    color: #FFF;
    font-family: merri;
}
.button_section1 > li:nth-of-type(2){
    display: inline-block;
    border: 1px;
    padding-top: 11.2px;
    padding-bottom: 12.2px;
    padding-left: 19.2px;
    padding-right: 19.05px;
    border-style: solid;
    border-color:#20202053;
    background-color: #FFF;
    border-radius: 10px;
    
}
.button_textB a {
    text-decoration: none;
    color: #202020;
    font-family: merri;
}
/*bild*/
.section_1_gif{
    display: inline-block;
}
.section_1_gif img {
    width: auto;
    height: 502.9px;

}
/*===============section2=================*/
.section2 {
    max-width: 1296px;
    height: 477.42px;
    margin-left: 144px;
    margin-top: 95.55px;
}
.section2_img {
    display: inline-block;
}
.section2_img img {
    width: auto;
    height: 477.42px;
}
.section_2text {
    display: inline-block;
    width: 501.18px;
}
/*===============section3=================*/
.section3 {
    max-width: 1296px;
    height: 439.02px;
    margin-left: 144px;
    margin-top: 95.55px;
}
.section_3text {
    display: inline-block;
    width: 501.18px;
}
.section3_img {
    display: inline-block;
}
.section3_img img {
    width: auto;
    height: 439.02px;
}
/*===============section4=================*/
.section4 {
    max-width: 1425.59px;
    height: 570.38px;
    margin-left: 7.2px;
    margin-top: 95.55px;
}
.section4 div{
    text-align: center;
    width: 814.61px;
    margin-left: auto;
    margin-right: auto;
}
.section4_text h1 {
    padding-bottom: 19.73px;
}
.section4_text p {
    padding-bottom: 43.4px;
}
.section4 ul {
    text-align: center;
}
.section4_bilder li {
    display: inline-block;
}
.section4_bilder img {
    width: 360px;
    height: 305.95px;
}
.section4_bilder img:hover {
    box-shadow: 0px 0px 5px 3px hwb(0 13% 87% / 0.442);
}
/*===============section5=================*/
.section5 {
    width: 1425.59px;
    margin-top: 136.05px;
}
.section5 div {
    text-align: center;
    width: 834.47px;
    margin-left: auto;
    margin-right: auto;
}
.section5 ul {
    max-width: max-content;
    text-align: center;
}
.section5_bilder li{
    display: inline-block;
    padding-top: 62.09px;
    padding-right: 61.39px;
}
.section5_bilder img {
    width: 576px;
    height: 324px;
}
.section5_bilder img:hover {
    box-shadow: 0px 0px 5px 3px hwb(0 13% 87% / 0.442);
}
/*===============section6=================*/
.section6 {
    width: 1425.59px;
    margin-top: 128.84px;
}
.section6 {
    text-align: center;
    width: 554.74px;
    margin-left: auto;
    margin-right: auto;
}
.section6_buy_text{
    max-width: 360px;
    margin-top: 71.09px;
    margin-left: auto;
    margin-right: auto;
    background-color: #55acee21;
    border-radius: 10px;
    padding-top:  63.7px;
    padding-bottom: 63.7px;
}
.section6_buy_text h3 {
    margin-top: 44.59px;
}
.section6_buy_text p {
    margin-top: 44.59px;
    font-size: 16px;
    color: #7E7E7E;
}
.section6_buy_text ul {
    list-style-type: none;
    margin-top: 12.73px;
    padding-bottom: 15.84px;
}
.section6_buy_text div{
    margin-top: 15.84px;
}
.section6_buy_text a { 
    color: #FFF;
    text-decoration: none;
    background-color: #55ACEE;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 10px;
}
/*===========footer===========*/
footer {
    width: 100%;
    margin-top: 63.7px;
}
.footer_text {
    width: 590.04px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.footer_text ul {
    list-style: none;
}
.footer_text li p{
    font-size: 19.2px;
    color: #7E7E7E;
}
.footer_text ul li:nth-of-type(2) p {
    color: #000;
    font-size: 19.2px;
}
.socials {
    width: 412px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
}
.socials li {
    display: inline-block;
}
.socials ul li:nth-of-type(1) p{
    color: #000000;
    font-size: 19.2px;
}
.socials ul li:nth-of-type(2) p{
    color: #FCAF45;
    font-size: 19.2px;
}
.socials ul li:nth-of-type(3) p{
    color: #55ACEE;
    font-size: 19.2px;
}
.socials ul li:nth-of-type(4) p{
    color: #C4302B;
    font-size: 19.2px;
}